@{
    ViewBag.Title = "Home Page";
}
@{Ajax.BeginForm(
                       "GetTicks",
                       "Home",
                       new AjaxOptions
                       {
                           HttpMethod = "POST", //do a http POST
                           InsertionMode = InsertionMode.Replace, //replace our current time
                           UpdateTargetId = "TimeNow", //Target Div Id
                       }
                    );
}
<div id="TimeNow">
    <p>To be replaced</p>
</div>